<div class="container">
    <div class="left-container">
        <div class="top-div"></div>
        <app-filtro></app-filtro>

        <div class="form-container">
            <app-cadastro-despesas></app-cadastro-despesas>
        </div>

        <div class="main-left-div">
            <app-entradasaida-list (EntradaSelected)="onEntradaSelected($event)"></app-entradasaida-list>
        </div>
    </div>

    <div class="right-div">
        <app-detalhes-gastos [registro]="registroSelected" *ngIf="showDetalhes"></app-detalhes-gastos>
    </div>
</div>


