<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="transaction.nome" name="nome">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput [(ngModel)]="transaction.valor" name="valor" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="transaction.tipo" name="tipo">
            <mat-option [value]="true">Entrada</mat-option>
            <mat-option [value]="false">Saída</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="transaction.data" name="data">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="transaction.categoria" name="categoria">
            <mat-option value="Alimentação">Alimentação</mat-option>
            <mat-option value="Moradia">Moradia</mat-option>
            <mat-option value="Transporte">Transporte</mat-option>
            <mat-option value="Saúde">Saúde</mat-option>
            <mat-option value="Educação">Educação</mat-option>
            <mat-option value="Lazer">Lazer</mat-option>
            <mat-option value="Investimentos">Investimentos</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="transaction.descricao" name="descricao"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
