<div class="filtro">
  <form class="form">
    <div class="form_name">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="nome" name="nome" placeholder="Ex. Salário">
      </mat-form-field>
    </div>

    <div class="form_date--picker">
      <mat-form-field>
        <mat-label>Selecione a Data:</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data" name="data">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form__tipo">
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select [(ngModel)]="tipo" name="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__button">
      <button mat-raised-button color="primary" (click)="aplicarFiltro()">Filtrar</button>
    </div>
  </form>
</div>

