<div class="app">
  <div *ngIf="mostrarSidebar()" class="sidebar">
    <div class="logo">FinanZen</div>
    <nav class="menu">
      <a (click)="goToHome()"  class="menu-item" style="cursor: pointer;">
        <span class="icon">🏠</span> Home
      </a>      
      <a routerLink="/manutencao" routerLinkActive="active" class="menu-item">
        <span class="icon">📝</span> Cadastrar
      </a>
      <a routerLink="/carteira" routerLinkActive="active" class="menu-item">
        <span class="icon">💼</span> Carteira
      </a>
      <a routerLink="/listagem" routerLinkActive="active" class="menu-item">
        <span class="icon">🔄</span> Transações
      </a>
      <a routerLink="/relatorios" routerLinkActive="active" class="menu-item">
        <span class="icon">📊</span> Relatórios
      </a>
      <a routerLink="/mensagens" routerLinkActive="active" class="menu-item">
        <span class="icon">📩</span> Messages <span class="badge">13</span>
      </a>
    </nav>
    <div class="general">
      <a routerLink="/configuracoes" routerLinkActive="active" class="menu-item">
        <span class="icon">⚙️</span> Configurações
      </a>
      <a routerLink="/sobre" routerLinkActive="active" class="menu-item">
        <span class="icon">ℹ️</span> Sobre
      </a>
    </div>
    <div class="profile">
      <div class="user">
        <div class="user-info">
          <p>Danillo Cuelho</p>
          <small>dnillocuelo.com</small>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
