<div class="dashboard-container">
  <div class="chart-container">
    <div echarts [options]="chartOption" class="chart"></div>
  </div>

  <div class="conteudo-container">
    <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of ultimasTransacoes">
          <td>{{ transacao.data | date:'dd/MM/yyyy' }}</td>
          <td>{{ transacao.descricao }}</td>
          <td [ngClass]="{'entrada': transacao.tipo, 'saida': !transacao.tipo}">
            {{ transacao.valor | currency:'BRL' }}
          </td>
          <td>{{ transacao.tipo ? 'Entrada' : 'Saída' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>


  