html, body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.dashboard-container {
  padding: 50px 320px; 
  min-height: 100vh;
  color: #fff;
  background-color: #121212; 
  font-family: 'Inter', sans-serif;
  overflow-y: auto;
  max-height: 100vh;
}

  
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #121212; 
}
  
.chart-container, .transactions-container {
  width: 100%;
  max-width: 900px;
  background: #121212;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.transactions-container {
  width: 100%;
  max-width: 900px;
  background: #1c1c1c; /* Cor de fundo para combinar com o tema */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
  .chart {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .info-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  body {
      overflow: hidden;
      overflow-y: auto;
      max-height: 100vh;
  }

  .conteudo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
  }
  
  .tabela-container {
    flex: 1;
    min-width: 50%;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 8px; /* Bordas arredondadas para efeito de card */
    background: #121212; /* Fundo do "card" */
  }
  
  table {
    width: 100%;
    border-collapse: separate; /* Mudando para 'separate' para garantir que a borda entre as células não se misture */
    border-spacing: 0; /* Elimina espaços entre as células */
  }
  
  th, td {
    padding: 10px;
    color: #d6cdcd;
  }
  
  th {
    background: #a3ff12;
    color: #ffffff;
    text-align: left;
  }
  
  tbody tr {
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  tbody tr:hover {
    background: rgba(163, 255, 18, 0.2);
  }
  
  .entrada {
    color: #a3ff12;
  }
  
  .saida {
    color: #ff4d4d;
  }
  