<div class="container">
    <div class="cards-wrapper">
        <div class="card">
            <p class="welcome">Bem-Vindo, <strong>José Faustão!</strong></p>
            <div class="info-container">
                <div class="info-box">
                    <p>Entradas:</p>
                    <span class="positive">+{{ receitaMensal | number:'1.2-2' }}</span>
                </div>
                <div class="info-box">
                    <p>Saídas:</p>
                    <span class="negative">-{{ despesasMensais | number:'1.2-2' }}</span>
                </div>
            </div>
        </div>

        <div class="card">
            <p class="title">Últimas Informações<strong> Cadastradas</strong>:</p>
            <table class="expense-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gasto of ultimosGastos">
                        <td>{{ gasto.nome }}</td>
                        <td>{{ gasto.tipo ? 'Entrada' : 'Saída' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="navigation-card-container">
            <div class="navigation-card" (click)="goTo('cadastro')">
                <p>📋 Cadastrar</p>
            </div>
            <div class="navigation-card" (click)="goTo('listagem')">
                <p>📊 Listagem</p>
            </div>
        </div>
    </div>
</div>

