.detalhes-gastos {
    width: 100%;
    height: 100%; 
    //background-color: black; // Mantém o fundo preto
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.exluir {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

