<div class="detalhes-gastos">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do Item</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span><span class="mat-h3"> Mercado</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Valor: </span><span class="mat-h3"> 56.98</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Tipo: </span><span class="mat-h3"> Saída</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Descrição: </span><span class="mat-h3">Ingredientes para fazer um mousse</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
</div>


  
