<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="despesa.nome" name="nome">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput [(ngModel)]="despesa.valor" name="valor" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="despesa.tipo" name="tipo">
            <mat-option [value]="true">Entrada</mat-option>
            <mat-option [value]="false">Saída</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="despesa.data" name="data">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <input matInput [(ngModel)]="despesa.categoria" name="categoria">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="despesa.descricao" name="descricao"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
