<div class="detalhes-gastos">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <!-- Nome -->
    <mat-list-item>
      <span class="mat-h2">Nome: </span><span class="mat-h3">{{registro.nome}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <!-- Valor -->
    <mat-list-item>
      <span class="mat-h2">Valor: </span><span class="mat-h3">{{registro.valor}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <!-- Tipo -->
    <mat-list-item *ngIf="registro">
      <span class="mat-h2">Tipo: </span>
      <span class="mat-h3">{{ registro.tipo !== undefined ? (registro.tipo ? 'Entrada' : 'Saída') : '' }}</span>
    </mat-list-item>
    <mat-divider *ngIf="registro"></mat-divider>


    <!-- Data -->
    <mat-list-item>
      <span class="mat-h2">Data: </span><span class="mat-h3">{{registro.data}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <!-- Categoria -->
    <mat-list-item>
      <span class="mat-h2">Categoria: </span><span class="mat-h3">{{registro.categoria}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <!-- Descrição -->
    <mat-list-item>
      <span class="mat-h2">Descrição: </span><span class="mat-h3">{{registro.descricao}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>

  <div class="button-container">
    <button mat-button class="excluir" (click)="onExcluirClick()">Excluir</button>
    <button mat-button class="editar" >Editar</button>
  </div>


</div>
