.detalhes-gastos {
  position: absolute;
  top: 35%;
  right: 20px;
  transform: translateY(-50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; // Espaço entre os botões
  margin-top: 20px;
}

.excluir {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.editar {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: red;
}
